body, html {
    background-color: #82ff96;
    height: 100%;
    background-size: 100%;
    background-image: url(images/banners/tomnook.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
}

/* ---------- NAVBAR & HEADER STYLES ---------- */
#navBar {
    background-color: black;
    background: url(images/banners/grass.png) center center / cover no-repeat;
}

#header {
    background-color: #ffe77d;
}
.headerDate {
    margin-top: 20px;
    margin-bottom: -5px;
    font-size: 0.9em;
}
.btn {
    width: 150px;
    border: solid black 1px;
}
.hemButton {
    background-color: #82ff96;
    width: 200px;
    height: 60px;
    border: solid black 3px;
    border-radius: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}   
#dataLoad {
    text-align: center;
    margin-top: 25px;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: -25px;
}
/* ---------- NAVBAR & HEADER STYLES ---------- */

/* ---------- TABLE STYLES ---------- */
.tableStyle {
    background-color: #ffe77d;
    border-collapse: collapse;
    border: solid black 3px;
}
.tableHeader {
    text-align: center;
    font-size: 1.3em;
}
.subHeader {
    text-align: center;
    font-size: 1.1em;
}
.cellLeft {
    width: 43%;
    padding-left: 5px;
}
.cellCenter {
    width: 43%;
    text-align: left;
}
.cellRight {
    width: 14%;
    padding-right: 5px;
}
/* ---------- TABLE STYLES ---------- */

/* ---------- FOOTER ---------- */
#footer {
    background-color: #82ff96;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* ---------- FOOTER ---------- */
